In [2]:
import warnings
warnings.filterwarnings('ignore')

# Лабораторная работа №5

1) Создали новую таблицу field_employers с двумя атрибутами field_id и professor_id для создания связи "многие ко многим"

2) Проверяем значения таблицы field

In [3]:
import psycopg2 as ps
import pandas as pd

conn = ps.connect(host="localhost", port = 5432, database="orioks", user="postgres", password="123456")

In [4]:
from faker import Faker
import random
from transliterate import translit, get_available_language_codes
import datetime

# Функция для генерации случайных данных для студента
def generate_student_data(group_name):
    fake = Faker('ru_RU')
    gender = random.randint(0, 1)
    student_id = str(random.randint(700000, 800000))  # генерация случайного значения student_id
    if gender == 1:
        surname = fake.last_name_male()
        name = fake.first_name_male()
        patronymic = fake.middle_name_male()
    else:
        surname = fake.last_name_female()
        name = fake.first_name_female()
        patronymic = fake.middle_name_female()
    birthday = fake.date_of_birth(minimum_age=20, maximum_age=21)
    students_group_number = group_name
    email = translit(f"{surname.lower()}.{name.lower()}@miet.ru", 'ru', reversed=True).replace("'", "")
    print(', '.join([student_id, surname, name, patronymic, birthday.strftime('%Y-%m-%d'), students_group_number, email]))

    return student_id, surname, name, patronymic, birthday.strftime('%Y-%m-%d'), students_group_number, email

generate_student_data("РТ-4")

762160, Галкина, Лукия, Святославовна, 2003-09-05, РТ-4, galkina.lukija@miet.ru

('762160',
 'Галкина',
 'Лукия',
 'Святославовна',
 '2003-09-05',
 'РТ-4',
 'galkina.lukija@miet.ru')

In [5]:
import random
import string
import psycopg2
from psycopg2 import Error

def create_random_students(connection, num_students, group_name):
    try:
        cursor = connection.cursor()
        #cursor.execute(f"insert into students_group (students_group_number, enrolment_status, structural_unit_number) VALUES ('{group_name}', 'Очная', 1)")

        for _ in range(num_students):
            student_id, surname, name, patronymic, birthday, students_group_number, email = generate_student_data(group_name)
            insert_query = f"INSERT INTO student (student_id, surname, name, patronymic, birthday, students_group_number, email) VALUES ({student_id}, '{surname}', '{name}', '{patronymic}', '{birthday}', '{students_group_number}', '{email}')"
            cursor.execute(insert_query)
            
            insert_query = f"insert into Student_id VALUES ('{student_id}', '31.08.2021', '31.08.2025')"
            cursor.execute(insert_query)

        connection.commit()
        print(f"{num_students} new students created successfully.")

    except (Exception, Error) as error:
        print("Error while connecting to PostgreSQL:", error)

In [8]:
create_random_students(conn, 25, "РТ-4")

724421, Андреева, Синклитикия, Петровна, 2003-02-03, РТ-4, andreeva.sinklitikija@miet.ru
735062, Потапова, Анжела, Ждановна, 2003-01-28, РТ-4, potapova.anzhela@miet.ru
772993, Никонова, Мария, Леонидовна, 2003-10-13, РТ-4, nikonova.marija@miet.ru
773975, Лихачев, Мартын, Бенедиктович, 2002-03-10, РТ-4, lihachev.martyn@miet.ru
713825, Петров, Фадей, Зиновьевич, 2003-06-27, РТ-4, petrov.fadej@miet.ru
704535, Егоров, Владислав, Анатольевич, 2002-02-28, РТ-4, egorov.vladislav@miet.ru
748176, Комаров, Юлий, Антонович, 2002-07-10, РТ-4, komarov.julij@miet.ru
719408, Алексеева, Элеонора, Алексеевна, 2002-06-05, РТ-4, alekseeva.eleonora@miet.ru
771252, Виноградов, Эрнст, Дорофеевич, 2003-01-20, РТ-4, vinogradov.ernst@miet.ru
782834, Рожкова, Зоя, Матвеевна, 2002-04-02, РТ-4, rozhkova.zoja@miet.ru
704199, Антонов, Герман, Алексеевич, 2002-10-28, РТ-4, antonov.german@miet.ru
744699, Кириллов, Любим, Фёдорович, 2002-01-11, РТ-4, kirillov.ljubim@miet.ru
784061, Кулакова, Регина, Кузьминична, 2003-06-28, РТ-4, kulakova.regina@miet.ru
785041, Юдин, Вацлав, Гордеевич, 2003-06-26, РТ-4, judin.vatslav@miet.ru
718950, Лаврентьев, Нестор, Андреевич, 2002-03-02, РТ-4, lavrentev.nestor@miet.ru
784710, Горбачева, Вероника, Робертовна, 2002-09-16, РТ-4, gorbacheva.veronika@miet.ru
719896, Пахомов, Любосмысл, Алексеевич, 2002-10-03, РТ-4, pahomov.ljubosmysl@miet.ru
798313, Воронцова, Валентина, Григорьевна, 2003-01-15, РТ-4, vorontsova.valentina@miet.ru
756263, Суханов, Александр, Егорович, 2002-04-12, РТ-4, suhanov.aleksandr@miet.ru
767425, Авдеев, Август, Изотович, 2002-10-29, РТ-4, avdeev.avgust@miet.ru
751821, Третьякова, Любовь, Андреевна, 2003-05-01, РТ-4, tretjakova.ljubov@miet.ru
704570, Тихонова, Василиса, Георгиевна, 2003-03-24, РТ-4, tihonova.vasilisa@miet.ru
728688, Воробьев, Семен, Игнатьевич, 2002-12-09, РТ-4, vorobev.semen@miet.ru
778484, Галкин, Марк, Ермолаевич, 2002-05-13, РТ-4, galkin.mark@miet.ru
723820, Филатов, Мирон, Ильич, 2003-07-01, РТ-4, filatov.miron@miet.ru
25 new students created successfully.

In [7]:

cursor = conn.cursor()
cursor.execute("DELETE FROM student WHERE students_group_number LIKE '%РТ%'")
conn.commit()

3) Заполняем таблицу field_employers значениями из field

In [18]:
cur = conn.cursor()

cur.execute("SELECT * FROM field_employers;")
if len(cur.fetchall()) < 1:
    cur.execute("insert into field_employers (field_id, professor_id) select field_id, professor_id from field")

## Задание 2

Запустить программу Симулятор ОРИОКС, убедиться в её работе с новыми студентами.

TODO

## Задание 3

Переведите всех учащихся 3-го курса на 4-й. Изменить номер группы.

TODO

## Задание 4

Создать временную таблицу, содержащую 10 лучших студентов 3 курса МПСУ, без троек. Сортировка по убыванию среднего балла. ФИО, номер студ. билета, ср. балл

TODO

## Задание 5

Добавить 10 осмысленных значений в таблицу

TODO